{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h3 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h3>
    <p>Start date: {{ post.start }}</p>
    <p>End date: {{ post.end }}</p>
    <p>{{ post.description }}</p>
    </li>
 </article>
</div>
