{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    <h2 class="archive__item-title" itemprop="headline">
      {{ title }}
    </h2>
    <p class="archive__item-excerpt" itemprop="description">{{ post.start }} - {{ post.end }}, {{ post.location }}</p>
    <p>{{ post.description }}</p>
    </li>
 </article>
</div>
